.header, .rules, .imagecontainer, .bigcontainer {
    border: 1px solid black;
}

.header {
    width: 850px;
    height: 100px;
    text-align: center;
    margin-bottom: 3%;
}
.rules {
    padding: 1%;
    width: 830px;
    margin-bottom: 3%;
}
.imagecontainer {
    width: 850px;
    height: 150px;
}
.bigcontainer {
    margin-left: 15%;
    width: 850px;
    padding: 1%;
}